@import url('https://fonts.googleapis.com/css2family=Be+Vietnam+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: 'Be Vietnam Pro', sans-serif ;
}
body{
    width: 100%;
    background-color: #eceef1;
}
form{
    position: absolute;
    background-color: #fff;
    width: 320px;
    height: 270px;
    padding: 25px 20px 30px 12px;
    margin: -10vh 850px;
    border-radius: 7px;
    box-shadow: 0px 3px 5px 3px rgb(177, 174, 174);
}
input{
    display: block;
    background-color: #fff;
    margin: auto;
    border: 1.5px solid rgb(200, 200, 200);
    width: 200px;
    padding: 10px 40px;
    border-radius: 5px;
    text-align: left;
    color: black;
}
button{
    border: none;
    color: white;
    margin: auto;
    background-color: #0e64d4;
    width: 283px;
    display: block;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 0;
    cursor: pointer;
}
.f-pws{
    display: block;
    width: 200px;
    margin: auto;
    padding-left: 80px;
    color: #1877f2;
    font-weight: 400;
}
.line{
    border-top: 1px solid #222;
    opacity: 0.2;
}
.btn2{
    width: 180px;
    font-size: 14;
    text-align: center;
    background-color: #28ad0d;
}
.f-container{
    width: 350px;
    margin-left: 300px;
    margin-top: 30vh;
}
.f-container img{
    width: 250px;
    margin-left: 45%;
    margin-top: 10%;
}
p{
    font-size: 20px;
    font-weight: 600;
    word-spacing: 3px;
}